body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    color:magenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-left: hotpink;
}
div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height:1.8;
    font-weight: 600;
    font-style: oblique;

}
button{
    background-color: wheat;
}
button{
    text-align: center;
    color: blue;
}